<?php 
   
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
/** @var \Magento\Catalog\Model\ResourceModel\Product\Collection $productCollection */
$productCollection = $objectManager->create('Magento\Catalog\Model\ResourceModel\Product\Collection');
                

/** Apply filters here */
$collection = $productCollection->addAttributeToSelect('*')
                               // ->addAttributeToFilter('color', ['eq'=>'Red'])
                                ->load();
     //echo '<pre>'; print_r($collection->getData());
 echo "Attribute Red Color Products.................................";
 echo '<br>';
     
 foreach ($collection as $product){

   

     if($product->getColor()== 5440)
     {

     	echo 'Name  =  '.$product->getName().'<br>';
     }
} 
?>

